Body{
Display: flex ;
Justify-content: center;
Background: #F5D8C7 ;
}

#container{
Position: relative;
Top: 100px;
Background: #FAECE3 ;
Width: 500 px;
}

#content-box{
Background: white ;
Padding: 15px;
Margin: 15px; (creates gaps on all sides- margin-bottom would push from bottom, not including top)

}
